@model Model.HelpDesk
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@*<div>
        <h4>HelpDesk</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Roletype)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Roletype)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

        </dl>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>*@

<link href="~/Content/Common/Delete.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<style>
    .Delete {
        margin-top: 96px;
        margin-bottom: 230px;
    }

    a {
        text-decoration: none;
        color: black;
    }
</style>

<div class="Delete">
    <div class="head"><h3>Are you sure you want to delete this?</h3></div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color dele " style="display:flex">
            <div class="btn-group pt-3 m-3">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
            <div class="btn-group pt-3 m-3">
                @Html.ActionLink("Cancel", "ShowUserDashboard", "", new { @class = "btn btn-secondary" })
            </div>
        </div>
    }
</div>
